@charset "UTF-8";

body {
    background-color: white;
}

div.container {
    background-color: rgb(255, 187, 180);
    display: flex;
    flex-direction: row;
}

div.item {
    background-color: rgb(114, 208, 240);
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}